.hsCheckData {
    display: inline-block;
    height: 20px;
    border: 1px solid #49567a;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    line-height: 20px;
    padding-left: 10px !important;
    background-image: url(../images/inp_bg.png);
    background-repeat: repeat-x;
    background-position: 98% 50%;
    /* overflow:hidden; */ 
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
     box-sizing: border-box; 
}
.hsCheckData p{
	overflow:hidden;
}
.hsCjeckData_check {
    /* background-image: url(img/yc.png); */
}

.hcd_main_border {
    display: inline-block;
    border: 1px solid #49567a;
    background-color: #1d2334;
    color:#fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 5px;
    position: absolute;
    position: absolute;
    z-index: 999999;
    overflow:hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
     box-sizing: border-box; 
}

.hcd_filter {
    width: 100%;
    height: 30px;
    display: inline-block;
    margin-bottom: 5px;
}

.hcd_filter_input {
    height: 20px;
    border: 1px solid #49567a;
    border-radius: 2px;
    padding: 4px 6px;
    font-size: 14px;
    background: url(img/filter.png) #1d2334;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    color:#fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
     box-sizing: border-box;
}
.hcd_dataList {
    max-Height: 180px;
    width: 100%;
    /* display: inline-block; */
    overflow-y: auto;
    overflow-x: hidden;
}

.hcd_dataList > ul {
    padding-left: 0 !important;
}

.hcd_dataList > ul li {
    list-style-type: none;
    cursor: pointer;
}

.hcd_dataList > ul > li {
    padding-left: 0px;
}

.hcd_dataList > ul > li > div {
    padding-left: 15px;
    line-height:22px;
}

.exsitChild {
    background-image: url(img/close.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    width: 7px;
    height: 8px;
    margin-right:5px;
}

.exsitChild_check {
    background-image: url(img/open.png);
}

.ec {
    min-height: 22px;
    font-size: 14px;
    line-height: 22px;
}

    .ec > div {
        padding-left: 3px !important;
    }

        [name='datali'] > div:hover,
        .ec > div:hover {
            background-color: #3ab2d0;
            color: #ffffff;
        }
.hcd_btn_div {
    margin-top: 2px;
    text-align: center;
    background-color: #1d2334;
    /* height: 29px; */
    /* width: 310px; */
   /*  margin-left: -5px; */
    border-top: 1px solid #49567a;
}

.hcd_btn {
    margin-right: 5px;
    margin-top: 5px;
    padding:4px 10px;
    background:#287fcb;
    border:none;
    border-radius:3px;
    cursor:pointer;
    color:#fff;
}
